<template lang="pug">
  div dash
</template>

<script>
export default {
  name: 'dash',
  data() {
    return {
    };
  },
};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
</style>
