<template lang="pug">
  footer.main-footer
    .pull-right.hidden-xs
      b Version
      |  0.0.1
    strong
      a(href='http://almsaeedstudio.com') Engage People.
    |  All rights reserved.
</template>


<script>
  export default {
    data() {
      return {};
    },
  };
</script>
