<template lang="pug">
    .mainApp
        top-bar
        router-view
        <!-- Top Bar -->
        <!-- Left side column. contains the logo and sidebar -->
        <!-- Content Wrapper. Contains page content -->
        <!-- Main Footer -->
        <!-- Control Sidebar -->
</template>

<script>
  import topBar from './components/header';

  export default {
    name: 'app',
    components: {
      topBar,
    },
  };
</script>

<style scoped>

</style>
